@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Signika Negative', sans-serif;
}
.container {
  width: 960px;
  margin: 0 auto;
}
#bodyContainer {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 98px);
  justify-content: center;
}
select:focus, button:focus, input:focus {
  outline:none;
}

button {
  cursor: pointer;
}

nav {
  background-color: #04445B;
  color: white;
}
ul, .scoreboard{
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
}

nav .action {
  float: right;
  margin: auto;
}
.action button {
  border: none;
  background-color: #09A3DB;
  padding: 20px;
  font-size: 16px;
  border-left:1px solid #04445B;
  border-right:1px solid #04445B;
  color: #fff;
  font-weight: 600;
}
.action button:hover {
  background-color: #04445B;
  border-left:1px solid black;
  border-right:1px solid black;
}
.scoreboard span {
  font-size: 28px;
  line-height: 20px;
  padding: 10px 20px 8px 0;
  font-weight: 700;
}
.scoreboard li {
  font-size: 36px;
  font-weight: 300;
  padding: 5px 25px;
  background-color: #4DBAE1;
}

.scoreboard li:first-child{
  background-color: #077DA8;
}

#customBoardSize {
  width: 200px;
}
#customBoardSize input {
  width: 100%;
}
.wrapper.board {
  width: 100%;
  -ms-align-items: center;
  justify-content: center;
}
.players {
  text-align: center;
}
.players.setup {
  position: relative;
  border-radius: 5px;
  box-shadow: 10px 10px #04445B;
  border: 1px solid #04445B;
}
.players.setup:hover {
  top: 10px;
  left: 10px;
  box-shadow: none;
}
.players.setup label {
  color: grey;
}
.heading.setup {
  background-color: #09A3DB !important;
}
.players .heading {
  padding: 20px;
  font-size: 24px;
  font-weight: 600;
  background-color: #04445B;
  color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.current .heading{
  background-color: #09A3DB;
}
.players .identity {
  display: flex;
  font-size: 24px;
  background-color: lightgrey;
  color: #04445B;
}
.players .identity > div{
  padding: 5px 20px;
}

.players .identity span {
  font-size: 14px;
}
.players .round{
  margin-top:10px;
  max-height:250px;
  overflow: auto;
  color: #04445B;
}
.players .round > div{
  display: flex;
  background-color: #4DBAE1;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  justify-content: space-evenly;
  font-size: 24px;
}
.players .round > div div{
  width: 100%;
  padding: 5px 20px;
}
.round .current-round {
  background-color: #09A3DB !important;
}
.gameboard {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  margin: 0 30px;
}
.gameboard ul {

  display: flex;
}
.gameboard .hole {
  display:flex;
  background-color: #4DBAE1;
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;
  color: #04445B;
}
.hole {
  width: 187.9px;
  height:187.9px;
}
.gameboard .hole.open:hover {
  background-color: #09A3DB;
  cursor: pointer;
}
.gameboard .gamestate{
  display:flex;

  justify-content: center;
}
.gameboard .background {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: lightgrey;
  opacity:0.5;
}
.gamestate h2 {
  margin: 2px;
}
.gamestate p {
  font-size:1.5em;
  font-weight: 400;
  margin: 0;
}
.gameboard .message {
  position: absolute;
  text-align: center;
  padding: 35px;
  margin-top: 30%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px #04445B;
  opacity: 1;
}
.gamestate .action {
  margin-top: 30px;
}
.gamestate .action button {
  border-radius: 5px;
  border: none;
  margin: 0 10px;
}



/*New Game Page*/
.gamesetup {
  background-color: lightgrey;
}
.gamesetup li {
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #09A3DB !important;
  border: 1px solid #04445B;
}
.gamesetup input, .gamesetup select {
  padding: 0 !important;
  font-size: 20px !important;
}
.dropdown-wrapper {
  position: relative;
}
.dropdown-caret {
  position:absolute;
  right: 20px;
  top:35%;
}
.dropdown {
  width: 100%;
  border: none;
  border-bottom: 1px dashed lightgrey;
  padding: 15px;
  font-size: 24px;
  background-color: unset;
  text-align: left;
}
.dropdown:hover {
  background-color: unset;
  color: unset;
}
.menu {
  display: block;
  position:absolute;
  cursor: pointer;
  z-index: 50;
  left:0;
  right:0;
  height:200px;
  overflow: auto;
  text-align: left;
  background-color: white;
  color: grey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
.menu.avatar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu.avatar li {
  border-bottom: none;
}
.menu li {
  padding: 15px;
  border-bottom: 1px solid lightgrey;
}
.menu li:hover {
  background-color: lightgrey;
}
.form {
  padding: 15px 20px;
  border-top: 1px solid lightgrey;
}
.form label{
  display:block;
  text-align: left;
}
.form input, .form select {
  border: none;
  background: none;
  font-size: 24px;
  padding: 15px;
}
.form select {
  width: 100%;
}
.vs {
  font-size: 36px;
  font-weight: 700;
  padding: 50px;
  align-self: center;
  color: #04445B;
}

.action.start {
  text-align:right;
  padding: 0 25px;
  padding-right: 15px;
  margin-top: 30px;
}

.action.start button {
  border-radius: 5px;
  border: none;
}

.footer {
  position:absolute;
  bottom:0;
  right: 0;
  left: 0;
  color: grey;
  font-size: 12px;
  border-top: 1px solid lightgrey;
}

.footer .fa-heart {
  color: red;
}
